/* ---------------------------
        Google Fonts
---------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ---------------------------
        Default Code
---------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

html,
body {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
/* ---------------------------
        Value Variables
---------------------------- */

:root {
    --deepred: #dd0000;
    --lightwhite: #f0f2f5;
    --lightwhite2: #e8e8e8;
    --black01: #161616;
    --black02: #4D4D4D;
    --Size10: 0.625em;
    --Size18: 1.125em;
    --Size20: 1.25em;
    --Size25: 1.5625em;
    --Size30: 1.875em;
    --Size40: 2.5em;
    --Size60: 3.75em;
    --Size70: 4.375em;
}

/* ---------------------------
        Top Header
---------------------------- */

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e272e;
    padding: var(--Size20) var(--Size70) 0;
}
.top-header-text h1{
    line-height: 1em;
}
.top-header-text{
    width: 50%;
}
.top-header-image{
    width: 60%;
    height: 613px;
    background: url(../images/Banner-Image.svg) center no-repeat;
    background-size: cover;
}

/* ---------------------------
    Match Blog Area Start
---------------------------- */
.match-blog-box{
    display: flex;
    gap: 25px;
    margin: 6.25em auto 3.125em;
    
}
.match-item {
    display: flex;
    flex-direction: column;
    width: 450px;
    text-align: center;
}
.inner-match-item{
    background: #1a1a1a;
}
.match-selector{
    background: #ffffff;
    color: var(--black01);
    display: block;
}
.match-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.article-box{
    border: 1px solid var(--lightwhite2);
}
.article-box p>a{
    color: #161616;
}
.blog-text{
    padding: var(--Size20) var(--Size20) 0;
}
.match-schedule-info{
    color: #16161680;
}
.match-schedule-info i{
    margin-right: var(--Size10);
}
.fa-comment-dots{
    margin-left: var(--Size10);
}
.view-all-btn {
    text-align: center;
}
.view-all-btn button{
    background: #dd0000;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: var(--Size10);
    display: none;
}

/* ---------------------------
    Match Blog Area End
---------------------------- */

/* ---------------------------
    Upcoming match Style
---------------------------- */

.match-date{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--Size20);
}
.match-box{
    border: 1px solid #16161610;
    padding: var(--Size40) var(--Size20);
    color: var(--black01);
}
.match-date:last-child{
    color: var(--black02);
}


/* ---------------------------
        Footer Blog Area
---------------------------- */

footer{
    background: var(--black01);
    text-align: center;
}
footer h1{
    border-bottom: 1px solid #ffffff10;
}
.footer-links a{
    color: #ffffff;
}
.social-icon-link{
    padding: var(--Size40) 0 0;
}
